.landing{
    position: relative;
    height: calc(35vh + 280px);
    
    padding: 15vh 30px 30px 30px;
    background: 

      conic-gradient(from 90deg at 0.5px 0.5px,var(--_g))
      0 0/calc(var(--s)/10) calc(var(--s)/10);

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    img{
      object-fit: cover;
    }

    .title{

    
      color: #000;
      font-size: 55px;
      font-weight: 300;
      margin-top: 0;
      width: 55%;
    
    }
    .description{
  
      width:33%;
    
      color: var(--color-dark);
      font-size: 16px;
      font-weight: 300;

      p{
        margin: 0px; 
        width: 100%;
    
        margin-top: 20px;
      
      }
      svg{
        transform: scale(2);
        width: 10px;
        margin-top: 33px;
      }
    }
  }

  .shuffleTitle{
    position: absolute;
    top: 50%;
    left: 30px;
  }
  