@import "@/app/styles/mixin";




    .about{
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;       
        
        gap: 0px;   
        margin: 100px 30px 0px 0px;
        

        @include breakpoint(small){
            margin: 100px 30px;
            flex-direction: column;


        }
 
        
    }

    .biga{
        font-size: clamp(15rem, 66vw, 66vh);
        font-family: var(--font-text);
        color: rgba(255, 0, 0, 0.7);
        mix-blend-mode: multiply;
        display: block;
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: auto;
        top: 0vh;
        /* left: 20vw; */
        padding-left: 20vw;
        font-weight: bold;
        

    }
 
    .quotewidth {
        display: flex;
        justify-content: flex-end;
        width: 34%;
        height: 100px;
        position: relative;
        margin: 200px 0px 200px 10px; 
      
        @include breakpoint(small){
            margin: 50px 0px;
            width: auto; 
          
            
    
            }

        svg{
            width: 30px;
            height: 18px;
        }
    }
    
    .greeting {
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 200px 50px 200px 10px;
     @include breakpoint(small){
      
          width: auto;
        margin: 50px 0px;

        }
        
      
            p{
                margin: 13px 30px 30px 0px;
                font-size: 18px;
                line-height: 2;
                font-weight: lighter;
                &:nth-of-type(1){
                  
                    gap: 10px;
                    font-family: var(--font-base);
                    span{
                        margin-right: 5px;
                    }
                    .mask{
                        position: relative;
                        overflow: hidden;
                        display: inline-flex;
                    }
                }
             
            }
       
    }
    .karrierTitle{
        display: flex;
        align-self: flex-start;
    }
    .karrier{
        width: 70%;

        @include breakpoint(small){
      
            width: 100%;

        }
        ul{
            margin: 0 30px 0 0;
            @include breakpoint(small){
      
                margin: 0;
    
            }
            li{ display: flex;
                
                justify-content: space-between;
                list-style: none;
                margin-bottom: 1rem;
                border-bottom:  1px solid var(--color-dark);
                p{
                    font-weight: lighter;
                }
            }
        }
    }

 .Stripes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0px 50px 30vw;
    img{
      width: 210px;
      height: 309px;
    }
 }