@import "@/app/styles/mixin";




    .about{
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;       
 
        gap: 50px;
        width: 100%;

        @include breakpoint(small){
            margin: 100px 30px;


        }
 
        
    }


 
    .quotewidth {
        display: flex;
  
        width: 20%;
        height: 100px;
        position: relative;
        margin: 200px 0px 200px 10px; 

        svg{
            width: 30px;
            height: 18px;
        }
    }
    
    .greeting {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 200px 50px 200px 10px;
            p{
                margin: 13px 30px;
                font-size: 24px;
                line-height: 1.3;
                &:nth-of-type(1){
                  
                    gap: 10px;
                
                    span{
                        margin-right: 5px;
                    }
                    .mask{
                        position: relative;
                        overflow: hidden;
                        display: inline-flex;
                    }
                }
             
            }
       
}
