@import "@/app/styles/mixin";




    .about{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-self: start;
        margin: 500px 200px;
        gap: 50px;


        @include breakpoint(small){
            margin: 100px 30px;


        }
 
        
    }

    .greeting {
        width: 70%;

    }
 
    .quotewidth {
        width: 20%;
        height: 100px;

        svg{
            width: 30px;
            height: 30px;
        }
    }
    
