@import "@/app/styles/mixin";

.container{
    width: 100%;
    height: 65vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    gap: var(--gap);
    @include breakpoint(small){
        flex-direction: column;
        height: 65vh;
    }
}

.spacer{
    min-height: 35vh;
}

.SidePhoto{
    max-width: 30%;
    height: auto;
}
.sidephotoScale{
    max-width: 30%;
    height: auto;
    z-index: -1;
}
.contactTitle{
    display: flex;
    h1{
        font-size: 8rem;
        font-weight: light;
        width: auto;
        margin: 0;
        @include breakpoint(small){
            font-size: 2.5rem;
        }
    }
    svg{
        width: 30px;
        height: 18px;
    }
}
.ContactDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

   
}
.contact, .Content{
    width: 100%;
    z-index: 1;
    h2{
        font-family: var(--font-text);
        font-size: 1em;
        font-weight: light;
    }
    p{
        font-size: 1em;
        font-family: var(--font-text);
        font-weight: light;
        padding: 0.5em 0;
    }
    a{
        color: var(--color-dark);
        padding: 0.5em 0;
    }
    @include breakpoint(small){
        width: 100%;
    }
}

.Clock{
    width: auto;
}
.absolutePhoto{
    display: block;
    position: absolute;
    z-index: 0;
    width: 35%;
    opacity: 0.2;
    height: auto;
    right: 0;
    bottom: 0;
}