:root {
    --color-dark: #1C1D20;
    --color-dark-dark: #141517;
    --color-light: #FFFFFF;
    --color-blue: #455CE9;
    --color-blue-dark: #334BD3;
    --color-gray: #999D9E;
    --color-lightgray: #E9EAEB;
    --color-white: #FFFFFF;
    --color-border: rgba(28, 29, 32, 0.175);
    --color-border-solid: #D2D2D2;
    --color-border-light: rgba(255, 255, 255, 0.2);
    --color-border-solid-light: #545557;
    --color-text: #1C1D20;
    --color-text-light: #FFF;
    --alert-error: #ff4444;
    --alert-success: #24C958;
    
    --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);
    --section-padding: clamp(5em, 21vh, 12em);
    --container-padding: clamp(2.5em, 8vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
    --font-base: '--KH-Inter';
    --font-text:'--KH-Teka';

    --animation-primary: 0.3s cubic-bezier(.5, 0, 0, 1);
    --columns: 3;
  
    --row-gap: 1.25em;
    --col-gap: 1.25em;
    --title-size: clamp(5em, calc(3vw + 7.75vh), 7.5em);
    --gap: var(--col-gap);

    --s: 100px; /* control the size */
    --counter_s: 180px; 
    --counter_g: #1C1D20 90deg,#f9f9f9 0;
    --_g: #f9f9f9 90deg,#999 0;


      --bg-color: rgba(28, 29, 32, 1);
      --line-color-1: rgba(255,255,255,0.13);
      --line-color-2: rgba(255,255,255,0.05);
  }

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0;
    overflow: hidden;
    cursor: wait;
    background: var(--color-lightgray);
}
.bg-white{
  background: var(--color-lightgray);
  width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-base);
}

.flex{
  display: flex;
}
a{
    text-decoration: none;
    color: white;
    mix-blend-mode: difference;
    font-family: var(--font-base);
}

.mx-12	{ margin-left: 3rem; /* 48px */
        margin-right: 3rem; /* 48px */
}
.min-h-screen	{min-height: 100vh;}

.min-h-screenHeightWithoutHeader { min-height:calc(100vh - 101px)}
.spacer {
  height: 50vh;
  
}
.spacer-s {
  height: 25vh;
}
.spacer-xs {
  height: 15vh;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
    }
    .spacer {
      height: 10vh;
      
    }
    .spacer-s {
      height: 5vh;
    }
    .spacer-xs {
      height: 3vh;
    }
  }




  html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  .uppercase{
    text-transform: uppercase;
  }





