@import "../../app/styles/mixin";
/* ------------------------- About - Stripe + Globe -------------------------------------------------- */

.line-globe {
    overflow: visible;
    z-index: 5;
 }
 
 @keyframes digitalball {
    0%   {background: transparent;}
    50%   {background: #ff4444;}
    100% {background: transparent;}
 }
 
 .globeBall {
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    background: var(--color-dark);
    border-radius: 50%;
    top: calc(50% + 88px);
    left: 0px;
    transform: translate(0%, 0%);
    position: absolute;
    overflow: hidden;
    background: transparent;
   z-index: 1;
    @include breakpoint(small){
        left: 35px;
    }
 }
 
 .globeBall .overlay {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: digitalball 6s ease-in-out infinite;
 }
 
 .line-globe .globeBall:hover .overlay {
    opacity: 1;
 }
 
 @keyframes globeBounce {
    0%   {transform: translate(-50%, -40%);}
    50%  {transform: translate(-50%, -60%);}
    100% {transform: translate(-50%, -40%);}
 }
 
 .globe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7em;
    height: 7em;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    will-change: transform;
 }
 
 @keyframes globe {
    0%   {transform: translate(-50%, -50%) rotate(15deg); }
    50%   {transform: translate(-50%, -50%) rotate(-15deg);}
    100% {transform: translate(-50%, -50%) rotate(15deg);}
 }
 
 .globeWrap {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px .125em var(--color-dark);
 }
 
 .globe .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset .1em 0px 0px .08em var(--color-dark);
    animation: circle1 2.7s linear infinite;
    font-size: .75em;
 }
 
 @keyframes circle1 {
    0%   {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em var(--color-dark); width: 100%; }
    49%  {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em var(--color-dark); background: transparent;}
    50%  {border-radius: 0%; width: .175em; background: var(--color-dark);}
    51%  {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em var(--color-dark); background: transparent;}
    100% {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em var(--color-dark); width: 100%;}
 }
 
 .globe :nth-child(1) {
    animation-delay: -1.8s;
 }
 
 .globe :nth-child(2) {
    animation-delay: -.9s;
 }
 
 
 .globe .circleHor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 55%;
    box-shadow: inset 0px 0px 0px .15em var(--color-dark);
    font-size: .75em;
 }
 
 .globe .circleHorMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 0%;
    height: .15em;
    background: var(--color-dark);
    font-size: .75em;
 }
 
 @media screen and (max-width: 1000px) {
 
    .globeBall {
       transform: translate(-20%, -50%);
    }
 
 }